{block content}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Summary</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		{control crudList $presenter['modalWindow']['crudView']}
	</div>
</div>