{block content}
<h1>v108b-sandbox</h1>
<h2>Application sandbox</h2>
Change your App style by bootstrap themes:
<ul>
	<li>Slate (bootstrap-theme-superhero.css )</li>
	<li>Superhero (bootstrap-theme-slate.css )</li>
	<li>Lumen (bootstrap-theme-lumen.css )</li>
	<li>Ameli (bootstrap-theme-amelia.css )</li>
</ul>
{/block}
