#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days
	savePath: "%tempDir%/sessions"

services:
	- App\Model\UserManager
	- App\Model\DBContext	
	- App\Forms\SignFormFactory
	- App\Lib\Acl
	crud:
		class: V108B\NetteCrud\Extension
		setup:
			- setExcludedFields([
				id
				users: [password]
			])

	
#	authentikator: App\Model\UserManager
	router: App\RouterFactory::createRouter


