<form n:name=$form class="form">	

{include 'BSPartialFormErrors.latte', form => $form, controlClass => $controlClass}
{include 'BSPartialFormBody.latte', form => $form, controlClass => $controlClass}
{include 'BSPartialFormButtons.latte', form => $form, controlClass => $controlClass}

</form>
